<!DOCTYPE html>
<!-- This file is to define the wishlist element using vue.js-->
<html>
<head>
  <meta charset="utf-8"/>
  <h1>Christmas wishlist</h1>
  <link href="assets/style.css" type="text/css" rel="stylesheet"/>
  <!--Using vue.js as a source file-->
  <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <div id = resp-container>
    <div id="app">
      {{ message }}
      <form class="container"
      @add="checkForm">
      <div class="error_msg">
        <p v-if="errors.length">
          <b>Please correct the following error(s):</b>
          <ul>
            <li v-for="error in errors">{{ error }}</li>
          </ul>
        </p>
      </div>
      <div class="form__item">
        <input type="text" v-model="itemName" class="form__field" placeholder="Add an item to the list" />
        <button class="button" v-on:click="add">Add</button>
      </div>
      <ul v-if="items.length">
        <li class="list__item"
        v-for="(item, index) in items">
        {{ item }}
        <button class="button" v-on:click="removeItem(index)">Remove</button>
      </li>
    </ul>
    <div class="error_msg" v-if="!items.length">Your list is empty, add an Item!</div>
  </form>
</div>

<script>
"use strict"
/*Here we instantiate vue */
var app = new Vue({
el: '#app',
/*this vue is composed with errors as list, item's Name and items as a List*/
data:{
  errors:[],
  itemName:'',
  items:[],
},

/*Function to use localStorage to allow the program to keep the entered list of gifts in memory*/
mounted(){
  if(localStorage.getItem('items')){
    try{
      this.items = JSON.parse(localStorage.getItem('items'));
    }catch(e){
      localStorage.removeItem('items');
    }
  }
},


methods:{
  checkForm: function(e){
    this.errors = [];
          if(!this.itemName){
            this.errors.push("Item required.");
          }
          if(!this.errors.length){
            return true;
          }
          e.preventDefault();
        },
        // function to remove item from the list on click
        removeItem:function(index)
        {this.items.splice(index,1);
          this.saveItems();
        },
        //function to add item in the wishlist
        add:function(){
          if(this.itemName === ''){
            return;
          }
          this.items.push(this.itemName);
          this.itemName='';
          this.saveItems();
        },
//function to save items in localsorage
        saveItems:function(){
          const parsed = JSON.stringify(this.items);
          localStorage.setItem('items',parsed);
        }
      },
    });
</script>
</div>
</body>
</html>
