/*The following code is from google fonts, it is used to have a more original font*/
/* cyrillic-ext */
@font-face {
  font-family: 'Vollkorn SC';
  font-style: normal;
  font-weight: 400;
  src: local('Vollkorn SC Regular'), local('VollkornSC-Regular'), url(https://fonts.gstatic.com/s/vollkornsc/v2/j8_v6-zQ3rXpceZj9cqnViFzPn6SSg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Vollkorn SC';
  font-style: normal;
  font-weight: 400;
  src: local('Vollkorn SC Regular'), local('VollkornSC-Regular'), url(https://fonts.gstatic.com/s/vollkornsc/v2/j8_v6-zQ3rXpceZj9cqnViF6Pn6SSg.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Vollkorn SC';
  font-style: normal;
  font-weight: 400;
  src: local('Vollkorn SC Regular'), local('VollkornSC-Regular'), url(https://fonts.gstatic.com/s/vollkornsc/v2/j8_v6-zQ3rXpceZj9cqnViFxPn6SSg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Vollkorn SC';
  font-style: normal;
  font-weight: 400;
  src: local('Vollkorn SC Regular'), local('VollkornSC-Regular'), url(https://fonts.gstatic.com/s/vollkornsc/v2/j8_v6-zQ3rXpceZj9cqnViFwPn6SSg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Vollkorn SC';
  font-style: normal;
  font-weight: 400;
  src: local('Vollkorn SC Regular'), local('VollkornSC-Regular'), url(https://fonts.gstatic.com/s/vollkornsc/v2/j8_v6-zQ3rXpceZj9cqnViF-Pn4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body{
  background-color: #224A84;
}
h1{
  color: white;
  text-align: center;
  font-family:'Vollkorn SC';
  font-size: 40px;
}

p{
  color: white;
  font-family: 'Vollkorn SC';
  font-size: 16px;

}

.button{
  border-radius:12px;
  background-color: white;
  border: none;
  color: #224A84;
  text-align: center;
  font-size: 12px;
  font-family:'Volkkorn SC';
}

.form__item{
  font-family:'Vollkorn SC';
  font-size: 12px;
}

.list__item{
  font-family:'Vollkorn SC';
  font-size: 16px;
  color: white;
}

.resp-container{
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.resp-iframe{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border:0;
}

.countdown{
  font-family:'Vollkorn SC';
  font-size: 20px;
  color: #848484;
  font-weight: bold;

}

.error_msg{
  font-family:'Vollkorn SC';
  font-size: 16px;
  color: #848484;
}
